.cart-page {
    min-height: calc(100vh - 200px);
    background: #f8f9fa;
    
    padding-top: 2rem;
    padding-bottom: 4rem;

    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
        padding: 1rem;
    }
} 