.container {
    width: 100%;
}

.makeup-bg {
    width: 100%;
    height: 450px;
    position: relative;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url("../../assets/miscellaneous-bg.png");
    background-attachment: fixed;
    border-bottom: 1px solid #af946f7a;
}