# Node.js (for React.js or similar projects)
node_modules/
build/
dist/

# Python (Flask backend)
__pycache__/
"*.pyc"
"*.pyo"
"*.pyd"
.vscode/
.env
*.log
instance/
.venv/
venv/
.idea/

# macOS system files
.DS_Store

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints/

# Docker
.docker/

# Ignore all .env files
.env
