# Web Framework
flask==2.0.1
flask-cors==3.0.10

# Database
sqlalchemy==1.4.23
mysql-connector-python==8.0.26

# Data Processing

# Machine Learning

# Web Scraping & Requests
requests==2.31.0
beautifulsoup4==4.12.2

# Utilities
python-dotenv==1.0.0

# Development Tools
